<% include ../index.ejs %>


<% if (user || userName) { %>

<div class="container mt-5">


    <div class="row">
        <div class="col-md-4 order-md-1 mt-8">
            <div class="my-3 p-3 bg-white rounded shadow-sm border border-dark">
                <ul class="list-group mb-1">
                    <!-- user details -->
                    <footer class="blockquote-footer">
                        <small>
                            Profile of <cite title="<%= userName.email %>" class="text-success"
                                id="user_name"><%= userName.name %> </cite>
                        </small>
                    </footer>
                    <!-- Profile Image -->
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <img src="/assets/img/profile/<%= userName.avtar %>" class="rounded img-fluid"
                                alt="Cinque Terre" width="304" height="236" alt="<%= userName.name %>">

                        </div>
                    </li>
                </ul>
                <ul class="list-group mb-1">
                    <li class=" d-flex justify-content-between bg-light mb-1 border-bottom border-black">
                        <div>
                            <h6 class="my-0">Username: </h6>
                        </div>
                        <span class="text-muted"><%= userName.name %></span>
                    </li>
                    <li class=" d-flex justify-content-between bg-light mb-1 border-bottom border-black">
                        <div>
                            <h6 class="my-0">DOB: </h6>
                        </div>
                        <span class="text-muted"><%= userName.dob.toLocaleDateString() %></span>
                    </li>
                    <li class=" d-flex justify-content-between bg-light mb-1 border-bottom border-black">
                        <div>
                            <h6 class="my-0">Country: </h6>
                        </div>
                        <span class="text-muted"><%= userName.country %></span>
                    </li>
                    <li class=" d-flex justify-content-between bg-light mb-1 border-bottom border-black">
                        <div>
                            <h6 class="my-0">Maritalstatus: </h6>
                        </div>
                        <span class="text-muted"><%= userName.maritalstatus %></span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- USERS ALL POSTS -->
        <div class="col-md-8 order-md-2">
            <div class="my-3 p-3 bg-white rounded box-shadow border border-primary">
                <% include ../middleware/search-box %>
            </div>

            <div class="my-3 p-3 bg-white rounded box-shadow">
                <p class="border-bottom border-gray pb-2 mb-2"><span class="border-bottom border-light" style="color: grey"><%= userName.name %>'s</span> All posts</p>

               
                <% user.forEach((userpost) => { %>
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="/assets/img/profile/<%= userName.avtar %>" class="rounded-circle player-img"
                            alt="<%= userName.username %>" width="30px" height="30px"><span
                            class="border-bottom border-black pb-1 mb-0 pl-1"> <%= userName.name %></span>

                        <br>
                        <p class="card-text pl-4"> <%= userpost.post %></p>
                        <small class="pl-4">Date: <%= userpost.date.toLocaleDateString() %></small>
                        <small><%= ` ${userpost.date.getHours()}:${userpost.date.getMinutes()}:${userpost.date.getSeconds()}` %></small>

                        
                        <div>
                        <form action="/comment/users/posts_comment" style="margin-top: -15px" method="POST">
                            <small class="pull-right" style="color:  #2e86c1; cursor: pointer">
                                <span class="comment_click" id="comment_click" onclick="showTextForComment()">comment on post</span>
                            </small> 
                            <span id="show_comment_post_form" style="display: none">
                                <input type="submit" value="comment" type="button" class="btn btn-primary btn-sm pull-right mb-1" id="hide_post_comment">
                                <textarea class="form-control" rows="5" placeholder="comment on post" name="post_comment"></textarea>
                            </span>
                        </form>   
                    </div>
                        
                        
                    </div>
                </div>

                <% }); %>
            </div>
        </div>
    </div>


    <% } else { %>
    <div class="my-5 p-3 bg-white rounded shadow-sm">
        <p class="text-center">No posts found</p>

    </div>
    <% } %>
</div>

<script>
    function showTextForComment(e) {
        let comment_click = document.getElementById('comment_click').style.display;
        let my_display = document.getElementById('show_comment_post_form').style.display;
        let hide_post_comment = document.getElementById('hide_post_comment').style.display;
        

        if(my_display == 'none') {
            document.getElementById('show_comment_post_form').style.display = 'block';
            document.getElementById('comment_click').style.display = 'none';
        }
        
        if(hide_post_comment == 'block') {
            document.getElementById('comment_click').style.display = 'block'
            document.getElementById('hide_post_comment').style.display = 'none'
        }

        e.preventDefault();
    }
</script>

<% include ../include/footer.ejs %>