<% include ../index.ejs %>




<div class="container mt-5">

    <% if (user) { %>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4 mt-8">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <ul class="list-group mb-3">
                    <!-- Profile Image -->
                    <li class="list-group-item d-flex justify-content-between">
                        <div class="text-success">
                            <img src="/assets/img/profile/<%= user.avtar %>" class="rounded img-fluid"
                                alt="Cinque Terre" width="304" height="236" alt="">
                                <small class="d-block text-right mt-3">
                                    <button type="submit" class="btn btn-link btn-sm" data-toggle="modal" data-target="#avtarModel">change avtar</button>
                                    <!-- <a href="/users/profile/avtar/<%= user.id %>" data-toggle="modal" data-target="#myModal">change avtar</a> -->
                                </small>
                        </div>
                    </li>

                </ul>

                <!-- Search-box -->
                <footer class="blockquote-footer">
                    <small>
                      Profile of <cite title="Source Title" class="text-success"><%= user.name %> </cite>
                    </small>
                </footer>
            </div>
        </div>


        <!-- User Details -->
        <div class="col-md-8 order-md-1">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h4 class="mb-3"><%= user.name %> you are here</h4>

                <hr class="mb-4">
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <span>User ID: </span>
                        <strong><%= user.id %></strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Username: </span>
                        <strong><%= user.username %></strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Name: </span>
                        <strong><%= user.name %></strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Email: </span>
                        <strong><%= user.email %></strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Gender: </span>
                        <strong><%= user.gender %></strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Date of Birth: </span>
                        <strong><%= user.dob.toLocaleDateString() %></strong>
                    </li>


                    <hr class="mb-2">



                </ul>

                <p><a class="btn btn-outline-secondary" href="/users/profile_details" role="button">See Profile</a></p>
            </div>
            <hr class="mb-4">
        </div>
    </div>

    <% } else { %>
    <div class="my-5 p-3 bg-white rounded shadow-sm">
        <p class="text-center">No users Found</p>
        <% } %>
        <!-- END FORM -->
    </div>

</div>
<!-- </div> -->


<!-- The Modal -->
<div class="modal fade" id="avtarModel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">avtar change</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                        <form method="post" action="/profile/avtar/<%= user.id %>">
                                <div class="form-group">
                                        <img src="../../image/profile.jpg" class="rounded mx-auto d-block" alt="..." width="250" height="300" >
                                </div>
                                <div class="form-group">
                                    <label for="avtar">Browse image</label>
                                    <input type="file" name="avtar" class="form-control-file" id="avtar">
                                </div>
    
                                <hr class="mb-1">
                                <input type="submit" name="submit" value="Confirm" class="btn btn-outline-info btn-sm">
                        </form>
                </div>
    
    
            </div>
        </div>
    </div>

<% include ../include/footer.ejs %>